[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
"discord.py" = "*"
python-dotenv = "*"
aiohttp = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.11`"
